<div class="wrapper">
    <app-loader *ngIf = "isLoading"></app-loader>

    <div class="searchbar">
        <input
            [formControl]="searchInput"
            type="search"
            class="search_field"
            placeholder="Search for toys"
            autocomplete="off"
        >
    </div>

    <div class="settings">
        <div class="sort">
            <h3 class="settings__lbl">
                sorting
            </h3>
            <div class="settings__field sort__area">
                <select class="sort-method" name="" id="">
                    <option value="0">-- Choose a sorting method --</option>
                    <option value="1" data-sort="letter-start">By name from "A" to "Z"</option>
                    <option value="2" data-sort="letter-end">By name from "Z" to "A"</option>
                    <option value="3" data-sort="digit-start">By year of purchase ascending</option>
                    <option value="4" data-sort="digit-end">By year of purchase descending</option>
                </select>

                <div class="sort-method-style">
                    -- Choose a sorting method --
                </div>
                <div class="sort-options hide">
                    <div class="sort-option">By name from "A" to "Z"</div>
                    <div class="sort-option">By name from "Z" to "A"</div>
                    <div class="sort-option">By year of purchase ascending</div>
                    <div class="sort-option">By year of purchase descending</div>
                </div>
            </div>
        </div>
        <form [formGroup]="filterForm" class="categories">

            <h3 class="settings__lbl">
                categories
            </h3>
            <div class="settings__field category shape">
                <h4 class="category__lbl">
                    shape
                </h4>
                <div class="category__wrapper">
                    <div class="shape__wrapper">
                        <input class="inp__shape" type="checkbox" name="shape" id="shape-bell">
                        <label class="lbl__shape bell" for="shape-bell">
                            bell
                        </label>
                    </div>
                    <div class="shape__wrapper">
                        <input class="inp__shape" type="checkbox" name="shape" id="shape-ball">
                        <label class="lbl__shape ball" for="shape-ball">
                            ball
                        </label>
                    </div>
                    <div class="shape__wrapper">
                        <input class="inp__shape" type="checkbox" name="shape" id="shape-cone">
                        <label class="lbl__shape cone" for="shape-cone">
                            cone
                        </label>
                    </div>
                    <div class="shape__wrapper">
                        <input class="inp__shape" type="checkbox" name="shape" id="shape-snowflake">
                        <label class="lbl__shape snowflake" for="shape-snowflake">
                            snowflake
                        </label>
                    </div>
                    <div class="shape__wrapper">
                        <input class="inp__shape" type="checkbox" name="shape" id="shape-figurine">
                        <label class="lbl__shape figurine" for="shape-figurine">
                            figurine
                        </label>
                    </div>
                </div>
            </div>
            <div class="settings__field category amount">
                <h4 class="category__lbl">
                    number of instances
                </h4>
                <div class="input-range__wrapper">
                  <input
                    formControlName="amountInputMin"
                    class="range-slider min-value"
                    [style.background]="rangeBackgroundAmount()"
                    type="range"
                    name=""
                    id=""
                    min="1"
                    max="12"
                    step="1"
                >
                <input
                  formControlName="amountInputMax"
                  class="range-slider max-value"
                  [style.background]="rangeBackgroundAmount()"
                  [style.zIndex]="rangeAccessiableAmount"
                  type="range"
                  name=""
                  id=""
                  min="1"
                  max="12"
                  step="1"
                >
                </div>
                <div class="range-info">
                  <input class="range-content min" type="number" name="" id="" [value]="filterForm.controls['amountInputMin'].value">
                  <input class="range-content min" type="number" name="" id="" [value]="filterForm.controls['amountInputMax'].value">
                </div>
            </div>
            <div class="settings__field category year">
                <h4 class="category__lbl">
                    purchase year
                </h4>

                <div class="input-range__wrapper">
                  <input
                    formControlName="yearInputMin"
                    class="range-slider min-value"
                    [style.background]="rangeBackgroundYear()"
                    type="range"
                    name=""
                    id=""
                    min="1940"
                    max="2022"
                    step="1"
                  >
                  <input
                    formControlName="yearInputMax"
                    class="range-slider max-value"
                    [style.background]="rangeBackgroundYear()"
                    [style.zIndex]="rangeAccessiableYear"
                    type="range"
                    name=""
                    id=""
                    min="1940"
                    max="2022"
                    step="1"
                  >
                </div>
                <div class="range-info">
                  <input class="range-content min" type="number" name="" id="" [value]="filterForm.controls['yearInputMin'].value">
                  <input class="range-content min" type="number" name="" id="" [value]="filterForm.controls['yearInputMax'].value">
                </div>
            </div>
            <div class="settings__field category color">
                <h4 class="category__lbl">
                    color
                </h4>
                <div class="category__wrapper">
                    <div class="color__wrapper">
                        <input class="inp__color" type="checkbox" name="color" id="color-white">
                        <span class="check-color"></span>
                        <label class="lbl__color white" for="color-white">
                        </label>
                    </div>
                    <div class="color__wrapper">
                        <input class="inp__color" type="checkbox" name="color" id="color-yellow">
                        <span class="check-color"></span>
                        <label class="lbl__color yellow" for="color-yellow">
                        </label>
                    </div>
                    <div class="color__wrapper">
                        <input class="inp__color" type="checkbox" name="color" id="color-red">
                        <span class="check-color"></span>
                        <label class="lbl__color red" for="color-red">
                        </label>
                    </div>
                    <div class="color__wrapper">
                        <input class="inp__color" type="checkbox" name="color" id="color-blue">
                        <span class="check-color"></span>
                        <label class="lbl__color blue" for="color-blue">
                        </label>
                    </div>
                    <div class="color__wrapper">
                        <input class="inp__color" type="checkbox" name="color" id="color-green">
                        <span class="check-color"></span>
                        <label class="lbl__color green" for="color-green">
                        </label>
                    </div>
                </div>
            </div>

            <div class="settings__field category size">
                <h4 class="category__lbl">
                    size
                </h4>

                <div
                  class="category__wrapper"
                >
                    <div
                      *ngFor="let sizeControl of sizeData.controls; let i = index"
                      class="size__wrapper"
                    >
                        <input
                          [formControl]="getSizesByIndex(i)"
                          class="inp__size"
                          type="checkbox"
                          id={{toysForUser.sizes[i].name}}
                        >
                        <span class="custom-check"></span>
                        <label class="lbl__size" for={{toysForUser.sizes[i].name}}>
                            {{ toysForUser.sizes[i].name }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="settings__field category fave">
                <input
                formControlName="favItem"
                class="inp__fave"
                type="checkbox"
                name="fave"
                id="fave-check"
              >
                <span class="custom-check"></span>
                <label class="lbl__fave" for="fave-check">
                    favorites only
                </label>
            </div>
        </form>
    </div>

    <div class="controls">
        <button class="control">
            reset filters
        </button>
        <button class="control">
            reset settings
        </button>
    </div>

    <div class="link-add__wrapper">
        <a
            class="link link-add"
            routerLink="./add"
        >
        Add toy
        </a>
    </div>

    <div class="toys">
        <ng-container *ngIf = "isToys else noToysFound">

            <app-toy-item
              *ngFor = "let toy of toys$ | async"
              [item]="toy"
              (deleted)="handleDeleteBtnClick($event)"
              (edited)="handleEditBtnClick($event)"
            >
            </app-toy-item>
        </ng-container>

        <ng-template #noToysFound>
            <div class="no-toys__wrapper">
              <p class="no-toys">
                There are no such toys....
              </p>
            </div>
        </ng-template>

    </div>

    <div class="btn-load__wrapper">
        <button
            type="button"
            class="btn btn-load"
            (click)="handleLoadMoreBtnClick()"
        >
        Load more
    </button>
    </div>
</div>
