$steppe-family: 'Steppe', Georgia;
$light: #ffffff;

@mixin steppe-font($color: $light) {
  font-family: $steppe-family;
  color: $color;
  font-weight: 400;
}

.wrapper {
  height: calc(100vh - 80px - 180px);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .notpage-msg {
    margin: 0;
    @include steppe-font;
    font-size: 40px;
    line-height: 44px;
  }
}

