<header class="header">
  <div class="wrapper">
    <h1 class="musthave">ChristmasJoy</h1>

    <a routerLink="/start" class="logo__link">
    </a>

    <nav class="menu-nav">
        <ul class="menu__list">
            <li class="menu__item">
                <a
                    class="menu__link"
                    routerLink="/toys"
                    routerLinkActive="active"
                >
                    TOYS
                </a>
            </li>
            <li class="menu__item">
                <a
                    class="menu__link"
                    routerLink="/tree"
                    routerLinkActive="active"
                >
                    TREE
                </a>
            </li>
        </ul>
    </nav>

    <div class="searchbar">
        <input
            type="search"
            name=""
            id=""
            class="search_field"
            placeholder="Choose your toys"
            autocomplete="off"
        >
    </div>

    <div class="amount-in-cart__wrapper">
        <span class="amount-in-cart">
            0
        </span>
    </div>
  </div>
</header>
