$neucha-family: 'Neucha', cursive;
$steppe-family: 'Steppe', Georgia;

$light: #ffffff;
$dark-bg: #192f2d;
$light-bg: #1f707f;
$border-green: #278d9f;
$bright-green: #22dfeb;
$light-grey: #c4c4c4;

// Filter
$filter-green: invert(53%) sepia(35%) saturate(2293%) hue-rotate(137deg) brightness(132%) contrast(102%);

// Animation
$transition-duration: .5s;

%not-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

  @mixin flex($justify-content: space-between, $align-items: center) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: $justify-content;
    align-items: $align-items;
  }

  @mixin link($link-color: $light) {
    text-decoration: none;
    color: $link-color;
    transition: color $transition-duration;
  }

  @mixin steppe-font($color: $light) {
    font-family: $steppe-family;
    color: $color;
    font-weight: 400;
  }

.toy-form {
    display: grid;
    grid-template-columns: 75px auto repeat(2, 30%);
    grid-template-areas: "form-name toy-title toy-title toy-title"
    "picture picture picture picture"
    "amount amount amount amount"
    "year year year year"
    "shape shape color size"
    "fave fave fave fave"
    "controls controls controls controls";
    gap: 20px;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    padding: 40px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid $light-bg;

    @media (max-width: 900px) {
      grid-template-columns: 75px 1fr;
      grid-template-areas: "form-name toy-title"
      "picture picture"
      "amount amount"
      "year year"
      "shape shape"
      "color color"
      "size size"
      "fave fave"
      "controls controls";
    }

    @media (max-width: 768px) {
      display: block;
    }

    @media (max-width: 460px) {
      padding: 20px;
    }

    .form-title {
        grid-area: form-name;
        margin: 0 0 10px;
        font-size: 24px;
        line-height: 24px;
    }

    .toy-title {
        grid-area: toy-title;
    }

    .toy-picture {
        grid-area: picture;
    }

    .amount {
        grid-area: amount;

        .amount-inp::-webkit-outer-spin-button,
        .amount-inp::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
    }

    .year {
        grid-area: year;
    }

    .shape {
        grid-area: shape;
    }

    .color {
        grid-area: color;
    }

    .size {
        grid-area: size;
    }

    .fave {
        grid-area: fave;
        margin-bottom: 20px;
    }

    .field-wrapper {
        position: relative;
        display: grid;

        &::before {
            position: absolute;
            content: "*required";
            top: 2px;
            right: 0;
            font-size: 14.4px;
            line-height: 17px;
            color: #bec1d1;
        }

        &:has(> .err-required)::before {
            color: red;
        }

        @media (max-width: 768px) {
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        @media (max-width: 420px) {
          margin-bottom: 10px;
        }
    }

    .inp {
      width: calc(100% - 60px);
      height: 30px;
      padding: 0 5px;
      background-color: transparent;
      outline: none;
      border: 1px solid $light;
      border-radius: 5px;
      color: $light;
      letter-spacing: 1.2px;
      font-size: 14px;
      line-height: 30px;
      cursor: text;
      transition: all $transition-duration;

      &:focus,
      &:hover {
          filter: $filter-green;
          box-shadow: 0 2px 20px 7px rgb(255 255 255/.7);
      }

      &::placeholder {
        font-size: 14px;
        line-height: 30px;
        color: $light;
        opacity: .7;
      }
    }

    .select-inp {
      width: 100%;
      cursor: pointer;
    }

    .lbl {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 19px;

      @media (max-width: 768px) {
        margin-bottom: 10px;
      }
    }

    .fieldset {
        margin: 0;
        padding: 0;
        border-style: none;

        .radio-lbl {
            position: relative;
            display: inline-flex;
            align-items: center;
            margin-right: 20px;
            padding: 0 25px 0 0;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
            transition: all $transition-duration;

            &:last-of-type {
                margin-right: 0;
            }

            .inp {
              display: none;
            }

            &:hover {
              color: $bright-green;

              .custom-check {
                opacity: .7;
              }
            }
        }

        .custom-check {
          position: absolute;
          top: 0;
          right: 0;
          width: 20px;
          height: 20px;
          background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
          border: 1px solid $border-green;
          backdrop-filter: blur(15.5px);
          border-radius: 50%;
          transition: all $transition-duration;

          &::after {
              position: absolute;
              content: '';
              opacity: 0;
              top: 4px;
              left: 4px;
              width: 10px;
              height: 10px;
              background-color: $bright-green;
              border-radius:50%;
          }
      }

      .fave-inp:checked ~ .custom-check::after {
        opacity: 1;
        border-color: $bright-green;
      }

      .fave-inp:checked ~ .radio-lbl {
          color: $bright-green;
      }
    }

    .form-controls {
      grid-area: controls;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    .btn {
        width: 150px;
        height: 40px;
        border: 3px solid $light;
        border-radius: 30px;
        background: transparent;
        @include steppe-font;
        font-size: 20px;
        line-height: 22px;
        cursor: pointer;
        transition: all $transition-duration;

        &:hover {
            filter: $filter-green;
            box-shadow: 0 2px 20px 7px rgb(255 255 255/.7);
        }

        &.btn-cancel {
          margin-right: 20px;
        }

        &.btn-submit {
            &:disabled {
                cursor: auto;
                opacity: .5;

                &:hover {
                    filter: none;
                    box-shadow: none;
                }
            }
        }

        @media (max-width: 1024px) {
          padding: 5px 10px;
          height: 30px;
          border-width: 2px;
          font-size: 16px;
          line-height: 19px;
        }
    }
}
