<form
  class="toy-form"
  [formGroup]="toysForm"
>
    <legend class="form-title">
      New toy
    </legend>

    <div class="field-wrapper toy-title">
      <input
      formControlName="title"
        class="inp title-inp"
        type="text"
        placeholder="title..."
        required
      >

      <div
        *ngIf="toysForm.controls['title'].invalid && (toysForm.controls['title'].dirty || toysForm.controls['title'].touched)"
        class="error"
        [ngClass]="{'err-required': toysForm.controls['title'].errors?.['required']}"
      >
        <div *ngIf="toysForm.controls['title'].errors?.['maxLength']">
          Title must be no more then 50 characters long.
        </div>
      </div>
    </div>

    <div class="field-wrapper toy-picture">
      <label class="lbl picture-lbl">Picture:</label>
      <input
      formControlName="picture"
        class="inp title-inp"
        type="text"
        placeholder="Some picture..."
      >
    </div>

    <div class="field-wrapper amount">
      <label class="lbl amount-lbl" for="">
        Number of toys
      </label>
      <input
      formControlName="amount"
        class="inp amount-inp"
        type="number"
        name="amountToy"
        value="1"
        id=""
        required
      >

      <div
        *ngIf="toysForm.controls['amount'].invalid && (toysForm.controls['amount'].dirty || toysForm.controls['amount'].touched)"
        class="error"
        [ngClass]="{'err-required': toysForm.controls['amount'].errors?.['required']}"
      >
        <div *ngIf="toysForm.controls['amount'].errors?.['maxlength']">
          Toy description must be no more then 50 characters long.
        </div>
      </div>
    </div>

    <div class="field-wrapper year">
      <label class="lbl year-lbl" for="">
        Year of production:
      </label>
      <input
        formControlName="year"
        class="inp year-inp"
        type="text"
        name="toyYear"
        id=""
        required
        placeholder="YYYY"
      >

      <div
        *ngIf="toysForm.controls['year'].invalid && (toysForm.controls['year'].dirty || toysForm.controls['year'].touched)"
        class="error"
        [ngClass]="{'err-required': toysForm.controls['year'].errors?.['required']}"
      >
        <div *ngIf="toysForm.controls['year'].errors?.['dateFormat']">
          The proper date format is MM/DD/YY
        </div>
        <div *ngIf="toysForm.controls['year'].errors?.['monthValue']">
          The proper date format is <span style="font-weight: bold;">MM</span>/DD/YY
        </div>
        <div *ngIf="toysForm.controls['year'].errors?.['dateValue']">
          The proper date format is MM/<span style="font-weight: bold;">DD</span>/YY
        </div>
      </div>
    </div>

    <div class="field-wrapper shape">
        <fieldset class="fieldset">
            <legend  class="lbl shape-lbl">
                Shape:
            </legend>
            <select
              formControlName="shape"
              class="inp select-inp shape-inp"
              type="search"
              name="toyShape"
              list="shapes-list"
              placeholder="--- choose ---"
            >
              <option class="shape-opt" value="bell">bell</option>
              <option class="shape-opt" value="ball">ball</option>
              <option class="shape-opt" value="cone">cone</option>
              <option class="shape-opt" value="snowflake">snowflake</option>
              <option class="shape-opt" value="figurine">figurine</option>
            </select>
            <div
              *ngIf="toysForm.controls['shape'].invalid && (toysForm.controls['shape'].dirty || toysForm.controls['shape'].touched)"
              class="error"
              [ngClass]="{'err-required': toysForm.controls['shape'].errors?.['required']}"
            >
            </div>
        </fieldset>
    </div>

    <div class="field-wrapper color">
        <fieldset class="fieldset">
            <legend  class="lbl color-lbl">
                Primary Color:
            </legend>
            <select
              formControlName="color"
              class="inp select-inp color-inp"
              type="search"
              name="toyColor"
              list="colors-list"
              placeholder="--- choose ---"
            >
              <option class="color-opt" value="white">white</option>
              <option class="color-opt" value="yellow">yellow</option>
              <option class="color-opt" value="red">red</option>
              <option class="color-opt" value="blue">blue</option>
              <option class="color-opt" value="green">green</option>
            </select>
            <div
              *ngIf="toysForm.controls['color'].invalid && (toysForm.controls['color'].dirty || toysForm.controls['color'].touched)"
              class="error"
              [ngClass]="{'err-required': toysForm.controls['color'].errors?.['required']}"
            >
            </div>
        </fieldset>
    </div>

    <div class="field-wrapper size">
        <fieldset class="fieldset">
            <legend  class="lbl size-lbl">
                Size:
            </legend>
            <select
              formControlName="size"
              class="inp select-inp size-inp"
              type="search"
              name="toySize"
              list="sizes-list"
              placeholder="--- choose ---"
            >
              <option class="size-opt" value="big">big</option>
              <option class="size-opt" value="middle">middle</option>
              <option class="size-opt" value="small">small</option>
            </select>
            <div
              *ngIf="toysForm.controls['size'].invalid && (toysForm.controls['size'].dirty || toysForm.controls['size'].touched)"
              class="error"
              [ngClass]="{'err-required': toysForm.controls['size'].errors?.['required']}"
            >
            </div>
        </fieldset>
    </div>

    <div class="field-wrapper fave">
        <fieldset class="fieldset">
            <legend  class="lbl fave-lbl">
                Is this a favorite toy?
            </legend>
            <label class="radio-lbl fave-lbl" for="fave-toy">
                <input
                    formControlName="fave"
                    class="inp fave-inp"
                    type="radio"
                    [value]="true"
                    id="fave-toy"
                >
                <span class="custom-check"></span>
                Yes
            </label>

            <label class="radio-lbl fave-lbl" for="not-fave-toy">
                <input
                    formControlName="fave"
                    class="inp fave-inp"
                    type="radio"
                    [value]="false"
                    id="not-fave-toy"
                >
                <span class="custom-check"></span>
                No
            </label>
            <div
              *ngIf="toysForm.controls['fave'].invalid && (toysForm.controls['fave'].dirty || toysForm.controls['fave'].touched)"
              class="error"
              [ngClass]="{'err-required': toysForm.controls['fave'].errors?.['required']}"
            >
            </div>
        </fieldset>
</div>

<div class="form-controls">
  <button
    class="btn btn-cancel"
    type="button"
    routerLink="../"
  >
    Cancel
  </button>

  <button
    class="btn btn-submit"
    [disabled]="!isFormValid"
    (click)="onSubmit()"
    routerLink="../"
  >
    {{ isFormEdited? 'Edit' : 'Save' }}
  </button>
</div>
</form>
