<div class="toy">
    <h3 class="toy-name">
        {{ item.title }}
    </h3>
    <div class="toy-img__wrapper">
        <img class="toy-img" [src]="srcImg()" alt="toy-1">
    </div>
    <div class="toy-info amount">
        <p class="details amount">
          In stock
        </p>
        <p class="content">
            {{ item.amount }} pieces
        </p>
    </div>
    <div class="toy-info year">
        <p class="details year">
          Manufactured in
        </p>
        <p class="content">
            {{ item.year }}
        </p>
    </div>
    <div class="toy-info size">
        <p class="details size">
            This toy is
        </p>
        <p class="content">
            {{ item.size | uppercase }}
        </p>
    </div>

    <div class="toy-info fave">
        <div
          *ngIf = "item.fave"
          class="details fave">
        </div>
    </div>
    <div class="controls">
        <button
            type="button"
            class="btn btn-edit"
            (click)="onEdit()"
        >
        </button>
        <button
          type="button"
          class="btn btn-delete"
          (click)="onDelete()"
        >
        </button>
    </div>
</div>
