.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 50px;

    @media (max-width: 460px) {
      width: auto;
      padding: 10px;
    }

    .toy-form {
        width: inherit;
    }
}
