<footer class="footer">
  <div class="wrapper">
    <div class="copyright">
        <time class="copyright__txt" datetime="2022">
            2022
        </time>
    </div>
    <div class="developer-contact">
        <div class="developer">
            <p class="developer-name">
                Oksana Vovere
            </p>
        </div>
        <address class="social__list">
            <a href="mailto:oksana.vovere@gmail.com" target="_blank" class="social__item e-mail developer__link"></a>
            <a href="https://linkedin.com/in/oksana-vovere-9a76569b" target="_blank" class="social__item linkedin developer__link"></a>
            <a href="https://github.com/Oksana-de" target="_blank" class="social__item gh developer__link"></a>
        </address>
    </div>
  </div>
</footer>
