<div class="wrapper">
  <div class="about-page">
    <h2 class="heading">
      About <span class="special">Christmas Joy</span> project
    </h2>
    <p class="content">
      The Christmas Joy project was created on the eve of the bright Christmas holidays with a light heart and faith in a wonderful happy future.
    </p>
    <p class="content">
      The story realized in this application is fictional and it sounds like this. Your Grandparents have been collecting Christmas decorations for many years. A lot of toys have gathered, and here it is rather problematic to put things in order without digitalization. Therefore, using this application, you can create an up-to-date database of Christmas tree decorations and even decorate a virtual Christmas tree with them without breaking a single toy.
    </p>
    <p class="content">
      It all starts with a welcome page. From here, you can go to one of the pages of the application using the main menu located at the top, or start a sequential entertaining immersion in pre-holiday worries clicking the <span class="special">START</span> button, which takes you to the page <span class="special">TOYS</span>.
    </p>
    <p class="content">
      The TOYS page presents a collection of toys. Using the <span class="special">+ Add</span> button, you can add toys to the database, thereby replenishing the collection. Also, when you hover over a toy card, the buttons for editing toy data or deleting a card become available.
    </p>
    <p class="content">
      By default, 10 toy cards are displayed per page. To see the next 10 pieces, you must click the <span class="special">Load more</span> button located at the bottom.
    </p>
    <p class="content">
      On the left side of the screen is the database control panel. Here you can search for toys by name, as well as sort and filter toys.
    </p>
    <p class="content">
      The reset buttons for options and settings make it easier and faster to return the toy list to its original form.
    </p>
    <p class="content">
      The <span class="special">TREE</span> page is still under construction. There will be a space where you can try on toys on different Christmas trees. So you can experiment with different designs and just have a good time.
    </p>
    <p class="content">
      This project was implemented using the <span class="special">Angular 14</span> framework and is currently still under construction and in the process of improving both the code itself and the conceptual ideas of the application.
    </p>
    <p class="content">
      Sincerely,
      Oksana Vovere
    </p>
  </div>
</div>
